<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/node-schedule/lib/schedule.bundle.js"></script>
  <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>
</head>

<body>
  <button class="test">custom login</button>
  <p id="status"></p>
  <button onclick="logout()">로그아웃</button>
  <button onclick="post()">글쓰기</button>
  <script>
    (function($) {
      function fbLogin() {
        FB.login(function(response) {
          if (response.authResponse) {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me/accounts', function(response) {
              response.data.forEach(element => {
                  if (element.id === '<%= page.getPageId() %>') {
                    // console.log("short : ",element.access_token)
                    $.post('/bab/token',{token:element.access_token},function(res) {
                      // console.log("long Token : ", res.longAccessToken)
                    }) 
                  }
              });
            })
          } else {
            console.log('User cancelled login or did not fully authorize.');
          }
        }, {scope: 'public_profile,manage_pages,publish_pages'});
      }

      $('.test').click(function() {
        fbLogin()
      })
    })(jQuery);

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $(document).on(
      'fbload',
      function () {
        FB.getLoginStatus(function (res) {
          if (res.status == "connected") {
            FB.api('/me', function (fbUser) {
              console.log("Open the pod bay doors, " + fbUser.name + ".");
            });
          }
        });
      }
    );

    window.fbAsyncInit = function () {
      FB.init({
        appId: '194933707726888',
        cookie: true,
        xfbml: true,
        version: 'v2.11'
      });

      $(document).trigger('fbload');
      FB.AppEvents.logPageView();
    };
  </script>
</body>

</html>
